/*roboto*/
/*header {
    background-image: url("fallout_wallpaper.png");
    background-size: 100%;
    height: 600px;
}*/
@font-face{
    font-family: "goodjob";
    src: url("michailscript.ttf");
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: 0;
}

footer{
    background-color: #202020;
    height: 180px;
    position: absolute;
    width: 100%;
}

li{
    padding-left: 5%;
}

ul{
    padding-left: 2.5%;
}

#bot{
    display: flex;
}

#bot_img{
    position: absolute;
    margin-top: 100px;
}   

#bot_img img{
    width: 150px;
    z-index: 2;
}

#botleft{
    position: relative;
}

#botleft img{
    width: 40%;
    margin-left: 45%;
    margin-top: 10px;
}

#botright{
    position: relative;
    margin-left: 30%;
    z-index:1;
}

#bot_txt{
    position: absolute;
    z-index: 1;
    width: 150px;
    padding: 120px 0;
    text-align: center;
}



#brand{
    writing-mode: vertical-lr;
    transform : rotate(180deg);
    color: white;
    background: #F9BB00;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 1%;
    font-size: 20px;
}

#console{
    font-weight: bold;
    font-style: italic;
    font-size: small;
}

#date{
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}

#fallout{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

#gj_bot{
    margin-left: 38%;
    color: white;
    font-family: "goodjob";
    font-size: larger;
}

#grey{
    color: grey;
    font-weight: lighter;
    font-size: large;
}

#headbloc{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 91%;
}

#page_content{
    display:flex;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 5%;
}

#page_text{
    margin-left: 5%;
    margin-right: 32%;
    font-size: 15px;
}

#second_bloc{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

#subtitle{
    color: white;
    font-weight: lighter;
    margin-left: 1%;
    font-size: 42px;
    font-style: italic;
}

#thin_title{
    font-weight: 100;
    color: #F9BB00;
}

#title{
    color: white;
    margin-left: 3%;
    font-size: 42px;
}

#vertical_line{
    display:flex;
    width: 20px;
    background-color: #F9BB00;
    margin-left: 17%;
    height: 300px;
    margin-top: 2%;
}

#wallpaper{
    background-image: url("fallout_wallpaper.png");
    background-size: 100%;
    width: 100%;
    padding: 5%;
    background-repeat: no-repeat;
}

.bold_text{
    font-weight: bold;
}

.yellow_text{
    color: #F9BB00;
    font-weight: bold;
}

/*.botright p{
    background-image: url("fallout_icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin-left: 250%;
    padding: 10%;
    
}

#botright{
    float: right;
    margin-right: 15%;
    background-image: url("fallout_icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

#botright p{
    text-align: center;
    padding-top: 15%;
}*/